.img {
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	filter: grayscale(100%);
  transition: transform 600ms;
	/* background-image: url('https://unsplash.it/400/500'); */
}

.img:hover {
	transition: all 400ms ease-in-out;
	transform: translateY(-7px);
	filter: none;
}

@media screen and (min-width: 1500px) {
	.img {
		height: 120px;
	}
}

@media screen and (max-width: 1300px) {
	.img {
		filter: none;
	}
}
